{
  "parser": "@typescript-eslint/parser", // Specifies the ESLint parser
  "parserOptions": {
    "ecmaVersion": 2020, // Allows for the parsing of modern ECMAScript features
    "sourceType": "module",
    // Allows for the use of imports
    "project": ["./tsconfig.json"]
  },
  "plugins": ["functional"],
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "prettier/@typescript-eslint",
    "plugin:prettier/recommended",
    "plugin:functional/external-recommended",
    "plugin:functional/recommended"
  ],
  "rules": {
    "@typescript-eslint/no-explicit-any": "error",
    "@typescript-eslint/prefer-nullish-coalescing": "error",
    "@typescript-eslint/no-unused-vars": [
      "error",
      { "argsIgnorePattern": "^_" }
    ],
    "@typescript-eslint/no-floating-promises": "error",
    "functional/functional-parameters": [
      "error",
      { "enforceParameterCount": false }
    ],
    "functional/no-conditional-statement": [
      "error",
      { "allowReturningBranches": "ifExhaustive" }
    ]
  }
}
